/*
 *  ApisSys AV108 Device Tree
 *  2014.2 Release 
 *
 */

/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Zynq Zed Development Board";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		/*ethernet1 = &ps7_ethernet_1;*/
		i2c0 = &i2c0;
		i2c1 = &i2c0;
		serial0 = &uart0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = &uart0;
		stdout-path = &uart0;
	};

	pci_express: axi-pcie@50000000 {
		#address-cells = <3>;
		#size-cells = <2>;
		#interrupt-cells = <1>;
		compatible = "xlnx,axi-pcie-host-1.00.a";
		reg = < 0x50000000 0x10000000 >;
		device_type = "pci";
		interrupt-parent = <&intc>;
		interrupts = < 0 29 4 >;
		interrupt-map-mask = <0 0 0 7>;
		interrupt-map = <0 0 0 1 &pcie_intc 1>,
										<0 0 0 2 &pcie_intc 2>,
										<0 0 0 3 &pcie_intc 3>,
										<0 0 0 4 &pcie_intc 4>;
		ranges = < 0x02000000 0 0x60000000 0x60000000 0 0x10000000 >;

		pcie_intc: interrupt-controller {
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <1>;
		};
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
	pdmg: pdmg@0x80400000 {
		compatible = "elt,pdmg";
		reg = <0x83C20000 0x4100 0x80400000 0x100 0x80410000 0x100 >;
		interrupt-parent = <&intc>;
		interrupts = <0 32 4>, <0 33 4>;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&uart0 {
	status = "okay";
};

&smcc {
        status = "okay";
        arm,addr25 = <0x0>;
        arm,nor-chip-sel0 = <0x0>;
        arm,nor-chip-sel1 = <0x0>;
        arm,sram-chip-sel0 = <0x0>;
        arm,sram-chip-sel1 = <0x0>;
};

&nand0 {
        status = "okay";
        arm,nand-cycle-t0 = <0x4>;
        arm,nand-cycle-t1 = <0x4>;
        arm,nand-cycle-t2 = <0x1>;
        arm,nand-cycle-t3 = <0x2>;
        arm,nand-cycle-t4 = <0x2>;
        arm,nand-cycle-t5 = <0x2>;
        arm,nand-cycle-t6 = <0x4>;

        partition@nand-fsbl {
                label = "nand-fsbl";
                reg = <      0x0 0x0200000>;
        };
        partition@nand-bitstream {
                label = "nand-bitstream";
                reg = <0x0200000 0x0C00000>;
        };
        partition@nand-uboot {
                label = "nand-fsbl";
                reg = <0x0C00000 0x1000000>;
        };
        partition@nand-device-tree {
                label = "nand-device-tree";
                reg = <0x1000000 0x1100000>;
        };
        partition@nand-linux {
                label = "nand-linux";
                reg = <0x1100000 0x1500000>;
        };
        partition@nand-rootfs {
                label = "nand-rootfs";
                reg = <0x1500000 0x1E00000>;
        };
        partition@nand-fs {
                label = "nand-fs";
                reg = <0x1E00000 >;
        };
};


